
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 2, 6, 23; /* bg-slate-950 */
  --background-end-rgb: 15, 23, 42; /* bg-slate-900 */
  --foreground-rgb: 226, 232, 240; /* text-slate-200 */
  --primary-start: 147, 51, 234; /* purple-600 */
  --primary-end: 219, 39, 119; /* pink-600 */
  --card-background-rgb: 30, 41, 59; /* bg-slate-800 */
  --card-border-rgb: 51, 65, 85; /* border-slate-700 */
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .gradient-text {
    @apply bg-gradient-to-r from-purple-600 to-pink-600 bg-clip-text text-transparent;
  }
}
